.registerWrap {
  margin-top: 5%;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.registerCard {
  width: 40vw;
  height: fit-content;
  align-items: center;
  padding-top: 20px;
  background: rgb(150, 150, 149);
  background: linear-gradient(
    360deg,
    rgba(150, 150, 149, 1) 0%,
    rgba(101, 129, 252, 1) 100%
  );
  border-radius: 7%;
}
.registerTitle {
    display: flex;
    justify-content: center;
}
.prijavaCard{
    width: 40vw;
    min-height: 40vh;
    max-height: fit-content;
    align-items: center;
    padding-top: 15px;
    background: rgb(150, 150, 149);
    background: linear-gradient(
      360deg,
      rgba(150, 150, 149, 1) 0%,
      rgba(101, 129, 252, 1) 100%
    );
    border-radius: 10%;
}